*{
    margin: 0;


    font-family: 'Lato', sans-serif;
}
 /* header style  */

.banner{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;

}

.banner-container{
    display: flex;
    gap: 57px;
    padding: 50px 240px 0px 240px;
}

.banner-info{
    padding:  197px 0px 150px 0px ;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 32px 0px;

}
.btn-primary{
    border: #E55473 solid;
    border-radius: 8px;
    background: #E55473;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700px;
    padding: 20px 43px;
}
.banner-img{
    width: 635px;
    height: 800px;
}

/* featured section style  */

.featured{
    width: 1440px;
    margin: 170px 240px 150px ;
    
}
.featured-info{
    text-align: center;
}
.section-title{
    color: #272727;
    
    font-size: 40px;
    font-weight: 800;

}
.featured-flowers{
    display: flex;
    gap: 24px;
    padding-top: 48px;
}

.pink-tulip{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 110px 78px 0px;
width: 310px;
height: 428px;

}
.bouquet{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 117px 47px 51px;
}
.yellow-tulip{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 67px 75px 0px;
}
figcaption{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-top: 32px;
}

.featured-2{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    margin: 128px 240px;
}
.featured-2-items{
    display: flex;
    gap: 100px;
    padding: 85px 175px;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}

/* sign up style  */
.signup-banner{
    width: 1922px;
height: 620px;

border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}

.signup-content{
    display: flex;
    gap: 186px;
    
}
.sign-banner-info{
    text-align: center;
    padding: 230px 0px 183px 365px;
}

.signup-img{
    width: 318px;
height: 420px;
padding: 100px 429px 100px 0px;
}

/* insta style  */
.instagram{
    width: 1440px;
    margin: 170px 240px 150px ;
}

.instagram-flowers{
    display: flex;
    gap: 24px;
}

/* about extra section  */
.about-banner{
    width: 1920px;
    height: 500px;
    background-color: azure;
}
.about-content{
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 50px 240px 0px 240px;
    
}
.about-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 16px 0px;
}

/* subscribe  */
.subscribe-banner{
    width: 1440px;
height: 449px;
border-radius: 8px;
background-image: url("../images/Rectangle 9.png");
background-repeat: no-repeat;
margin: 128px 240px;
padding-top: 122px;
text-align: center;

}


.subscribe-form{
    display: flex;
    
    gap: 16px;
    padding: 30px 318px 121px ;

}
.subscribe-input{
    width: 700px;
height: 64px;
color: rgba(39, 39, 39, 0.60);
padding: 0px 0px 0px 22px;
font-family: Lato;
font-size: 16px;
font-weight: 400;
border: #FFF solid;
border-radius: 8px;

}
